.App {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.App__EditorOutput {
  display: flex;
  flex-direction: row;
  flex: 100 1 auto;
}

.App__Status {
  display: flex;
  flex-direction: row;
  flex: 2 0 auto;
}

.Resizer.vertical {
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  cursor: col-resize;
}
