.App {
  display: flex;
  flex-direction: column;
  height: 100vh
}

.App__EditorOutput {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.layout-splitter {
  background-color: #ddd !important;
  width: 5px !important;
}

.CodeMirror-hscrollbar {
  left: 0 !important;
}
