.Status {
  display: flex;
  justify-content: center;
  text-align: center;
  transition: background-color 0.4s ease;
}

.Status__message,
.Status__error {
  margin: 15px 0;
}

.Status__error__message {
  margin: 10px 0;
}

.Status--ok {
  background-color: #dff0d8;
  color: #3c763d;
  border-top: solid 1px #d6e9c6;
}

.Status--error {
  background-color: #f2dede;
  color: #a94442;
  border-top: solid 1px #ebccd1;
}

.Status__error__type {
  font-weight: bold;
  margin: 5px 0 0 0;
}

.Status__error__location {
  font-size: 0.7rem;
  font-style: italic;
  margin: 0 0 5px 0;
}
